body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

}
/* part-1 */
.header h1{
    margin-left: 100px;
    color: #3A3A3A;
    font-size:26px;
    font-weight: 1000;
    margin-top:18px ;
    margin-bottom: 18px;
    margin-right: 15px;
}
.anchor{
    margin-top:28px ;
    margin-bottom: 10px;
    margin-right: 100px;
    font-size: 16px;
}

nav a {
    text-decoration: none;
     color: #3A3A3A;
    margin-right: 20px;
    font-weight: 900;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
   
}
/* part-2 */
/* part-2 */
.first-container{
    display: flex;
    margin-top: 50px;
    }

.half-width{
width: 50%;
 margin-left:90px;
 padding-left: 0;
}

 h1{
    font-size: 50px;
    color: #3A3A3A;
    font-weight: 800;
    margin: 10px;

 
}
p{
    font-size: 25px;
    color: #3A3A3A;
    font-weight:900;
    font-size: 15px;
    margin:0;
    padding-bottom: 30px;
}
.link-button-one{
    text-decoration: none;
    background-color: #E02C6D;
    padding:10px 25px;
    border-radius:41px;
    font-size: 15px;
    color:whitesmoke;
    font-weight: 700;
    margin: 0px;
}
/* part-3 */
.icons{
    margin-top: 100px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 10px;
}
.icon{
    font-size: 50px;
    margin-left: 100px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    padding-bottom: 10px;
}
/* part-4 */
/* part-4    

*/
.products-heading{
    text-align: center;
    font-weight: 900;
    margin-top: 50px;
    font-size: 50px;
}
.products{
    margin: 100px;
    padding: 20px;
}

.all-products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:10px ;
   margin-top: 100px;
    padding: 5px;

}

.single-products{
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;
    margin:20px;
    padding: 10px;
    width:300px;
    height: 400px;

}



.products-img img{
    width: 300px;
    height: 200px;
}

/* icon */
.fa-star{
    font-size:13px;
}
.fa-star.filled{
    color: #FFC014
    
}
.fa-star.empty{
    color: #AEAEAE;
    ;
}
/* icon */

.link-button-two{
    text-decoration: none;
    color: #E02C6D;
    position: absolute;
    right:135px;
    font-size: 20px;
    font-weight: 700;
    margin-top:20px;
    padding:0px;
   
}
.description{
    font-size:15px;
    font-weight: 800;
    color: lightslategray;
}
/* part-5 */
.second-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 100px;
    padding: 10px;
   }
   .last-width img{
       width: 100%;
       
   }
   .last-width-img{
    
   margin-left:90px;
        padding-left:10px;
   }
   .last-width-description{
       margin-left: 10px;
       margin-right:20px;
   }
       
   
   
   
   .link-button-three{
       text-decoration: none;
       background-color: #E02C6D;
       padding:10px 25px;
       font-size: 15px;
       color:whitesmoke;
       font-weight: 700;
       margin: 0px;
   }
/* last part  */

.last-section{
    background-color:rgb(0, 0, 8) ;
    margin: 0;
    padding: 0;
  
}
footer{
    text-align: center;
    
}
.footer-head{
 padding-top: 30px;
 font-size: 20px;
 font-weight: 800;
 color: white;
}
.foot-para{
color: white;
font-weight: 200;
}
.last-icons{
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(4,50px);
    justify-content: center;
    padding-bottom: 50px;
    color: white;
 
}
/* responsive  */
/* responsive  */
/* responsive  */
/* Responsibe  */
@media only screen and (max-width: 600px) {
    .header h1{
        background-color: #FFC014;
        font-size: 50px;
        padding: 10px;
    }
    .anchor{
        display: none;
    }
    .first-container{
        display: grid;
        grid-template-rows: repeat(1fr 1fr);
        justify-content: center;
        grid-row-gap: 50px;
    }
    .half-width{
        width: 100%;
         margin-left:90px;
         padding-left: 0;
        }
        .icon{
            font-size: 50px;
            margin-left: 100px;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            justify-content: center;
            padding-bottom: 10px;
        }  
        .products-heading{
            color: rgb(39, 7, 182);
            font-size:50px;
        }
        .all-products{
            display: grid;
            grid-template-columns: repeat(1,1fr);
           justify-content: center;
            grid-column-gap:10px ;
            margin-top: 100px;
             padding: 5px;
        
        }
        .second-container{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            justify-content: center;
            margin: 50px;
            padding: 50px;
           }
           .last-width img{
            width: 50%;
            
        }
        .last-width-description{
            margin-left: 60px;
            margin-right:20px;
            font-size: 20px;
        }
  }
  /* i pad  */
  @media only screen and (min-width: 600px) and (max-width:992px) {
    .header h1{
        background-color: #14ff91;
        font-size: 50px;
        padding: 10px;
    }
    .anchor{
        display: none;
    }
    .first-container{
        display: grid;
        grid-template-rows: repeat(1fr 1fr);
        justify-content: center;
        grid-row-gap: 50px;
    }
    .half-width{
        width: 100%;
         margin-left:90px;
         padding-left: 0;
        }
        .icon{
            font-size: 50px;
            margin-left: 100px;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            justify-content: center;
            padding-bottom: 10px;
        }  
        .products-heading{
            color: rgb(39, 7, 182);
            font-size:50px;
        }
        .all-products{
            display: grid;
            grid-template-columns: repeat(2,1fr);
           justify-content: center;
            grid-column-gap:10px ;
            margin-top: 100px;
             padding: 5px;
        
        }
        .second-container{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            justify-content: center;
            margin: 50px;
            padding: 50px;
           }
           .last-width img{
            width: 50%;
            
        }
        .last-width-description{
            margin-left: 60px;
            margin-right:20px;
            font-size: 20px;
        }

    }
