body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

}
/* part-1 */
.header h1{
    margin-left: 100px;
    color: #3A3A3A;
    font-size:26px;
    font-weight: 1000;
    margin-top:18px ;
    margin-bottom: 18px;
    margin-right: 15px;
}
.anchor{
    margin-top:28px ;
    margin-bottom: 10px;
    margin-right: 100px;
    font-size: 16px;
}

nav a {
    text-decoration: none;
     color: #3A3A3A;
    margin-right: 20px;
    font-weight: 900;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
   
}
/* part-2 */