body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

}
/* part-1 */
.header h1{
    margin-left: 100px;
    color: #3A3A3A;
    font-size:26px;
    font-weight: 1000;
    margin-top:18px ;
    margin-bottom: 18px;
    margin-right: 15px;
}
.anchor{
    margin-top:28px ;
    margin-bottom: 10px;
    margin-right: 100px;
    font-size: 16px;
}

nav a {
    text-decoration: none;
     color: #3A3A3A;
    margin-right: 20px;
    font-weight: 900;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
   
}
/* part-2 */
/* part-2 */
.first-container{
    display: flex;
    margin-top: 50px;
    }

.half-width{
width: 50%;
 margin-left:90px;
 padding-left: 0;
}

 h1{
    font-size: 50px;
    color: #3A3A3A;
    font-weight: 800;
    margin: 10px;

 
}
p{
    font-size: 25px;
    color: #3A3A3A;
    font-weight:900;
    font-size: 15px;
    margin:0;
    padding-bottom: 30px;
}
.link-button-one{
    text-decoration: none;
    background-color: #E02C6D;
    padding:10px 25px;
    border-radius:41px;
    font-size: 15px;
    color:whitesmoke;
    font-weight: 700;
    margin: 0px;
}
/* part-3 */